/* General Layout */
.actions {
    margin: 20px;
    text-align: center;
}

.team-home-container {
    min-height: 80vh;
    margin: auto;
}

.add-team-link {
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    padding: 12px 24px;
    background: rgba(100, 93, 237, 0.7);
    /* Semi-transparent for depth */
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.add-team-link:hover {
    background: rgba(37, 27, 234, 0.9);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.add-team-link:active {
    transform: translateY(3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}

/* Grid Layout for Players */
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
}

.no-teams {
    background-color: rgb(206, 203, 203);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width:1200px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on medium screens */
    }
}

@media (max-width:768px) {
    .team-grid {
        grid-template-columns: 1fr;
        /* 1 column on smaller screens */
        padding: 20px;
    }
}