/* team Card Styling */
.team-card {
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Optional for more depth */
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Player Photo Styling */
.team-photo {
    /* width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    display: block;
    border: 2px solid #007bff; */
    width: 125px;
    height: 125px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* team Details */
.team-details h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.team-details p {
    color: #555;
    font-size: 0.9rem;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .button-group-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
}

.button-group-btn:hover {
    background-color: #0056b3;
}

.button-group-btn:active {
    transform: translateY(3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
} */