@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/bg-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* optional: keeps background fixed while scrolling */
    font-family: 'Poppins', 'Rubik', sans-serif;
}

.standard-button {
    border: none;
    outline: none;
    padding: 12px 24px;
    background: rgba(72, 63, 244, 0.7);
    /* Semi-transparent for depth */
    color: white;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    cursor: pointer;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(5px); */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.standard-button:hover {
    background: rgba(47, 37, 222, 0.9);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}