.update-team-container {
    height: 80vh;
    padding: 20px 8%;
    margin: auto;
    display: flex;
}

.update-team-form {
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
    padding: 40px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Optional for more depth */
}

.update-team-form h2 {
    background-color: #f5f5f5;
    width: fit-content;
    border-radius: 30px;
    color: black;
    margin: auto;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.update-team-form input {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    color: black;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 25px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 500;
}

.update-team-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: rgb(87, 85, 85);
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .add-team-container {
        padding: 15px 5%;
    }

    .add-team-form {
        padding: 20px;
        margin-top: 30px;
    }

}