/* General Layout */
.actions {
    margin: 20px;
    text-align: center;
}

.player-home-container {
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}


.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Default: 3 columns */
    gap: 15px;
    margin: auto;
}

.no-players {
    background-color: rgb(206, 203, 203);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

@media (max-width:1200px) {
    .player-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on medium screens */
    }
}

@media (max-width:768px) {
    .player-grid {
        grid-template-columns: 1fr;
        /* 1 column on smaller screens */
        padding: 20px;
    }
}